API_ID= 22031761
API_HASH= aed7116467f2621556fd2ab657840c49
BOT_TOKEN= 6720481419:AAGzjocjkLaxY7YI4vZ9HBKN030hTLdVvOY
LOGGER_ID= -1002140883754
MONGO_DB_URI= mongodb+srv://Aryan:Aryanmusic@aryanmusic0.qzy20ty.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 5724322712
STRING_SESSION= BQFQLZEAf6ArliQnBH4vK5fiFWXvEHx7qeopMJHglssLcXp8-7YCrpyoPpsW1aIReorLBaGcgWowORK_R_8T6j63whKJgNLJrVqKzZfZbEkM7uLTL4QPtIMtUKfGABTlkeHsquiC3aVug42LRNprIk6Wszw4_0bEbOia5eAr2HE2SmjwtBZObzClLq3YxkA9gGqlEZn744AZgQ30sNM_Ou_z98ia4mE8FxbXDzsSpaqyBnhx0eq6Y3XPcIUpqZXByTYYjHtbONsnSoE9JKzCf_GkOAZeYmwKeErpZ1PRMM0wn8gS9cNPpmHwISiiRgGIggwKTyGMJd0FKv6OW8kDgY9pIEcG6gAAAAGGVCxXAA
